table, th, td {
    border: 1px solid;
    padding: 5px;
    margin-left: 5px;
  }
#target {
    width: 100%;
}  

.formTable {
    margin: 5px;
}

.formTable tr {
    border: none;
}

.formTable td {
    border: none;
}

.ProductBox {
    background-color: skyblue;
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    padding: 2px;
}

#addProductForm {
    display: block;
}

#findProductForm {
    display: block
}

  