#header{
    display: flex;
    flex-direction: row;
    background-color: #35A2FD;
    color: #fff;
    padding: 5px;
}

#headerBtn{
    height: 100%;
    background-color: transparent;
    color: #fff;
    border-style: solid;
    border-color:#fff;
    border-radius: 4px;
    padding: px;
    transition-duration: 0.4s;
}

#headerBtn:hover {
    background-color: #fff;
    color: black;
}



table, th, td {
    border: 1px solid;
    padding: 5px;
    margin-left: 5px;
  }
#target {
    width: 100%;
}  

.formTable {
    margin: 5px;
}

.formTable tr {
    border: none;
}

.formTable td {
    border: none;
}

.ProductBox {
    background-color: skyblue;
    display: flex;
    flex-direction: row;
    height: auto;
    width: auto;
    padding: 2px;
}

#addProductForm {
    display: block;
}

#findProductForm {
    display: block
}

  